<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mongmx.vendingmachine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mongmx.vendingmachine.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.mongmx.vendingmachine.PaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.mongmx.vendingmachine.QueueActivity"
            android:label="@string/title_activity_queue"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.mongmx.vendingmachine.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <!--<activity-->
            <!--android:name=".SplashActivity"-->
            <!--android:configChanges="keyboardHidden|screenSize"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/FullscreenTheme"-->
            <!--android:screenOrientation="landscape">-->
        <!--</activity>-->
    </application>

</manifest>
